<header class="header">
  <div class="container header__container">
      <a href="./#hero" class="logo">
          <span class="logo__text">Metr<span class="logo__dot">.</span>Piler</span>
      </a>

      <nav class="nav">
          <ul class="nav__list">
              <li class="nav__item"><a href="./#hero" class="nav__link">Главная</a></li>
              <li class="nav__item"><a href="./#about" class="nav__link">О платформе</a></li>
              <li class="nav__item"><a href="./#courses" class="nav__link">Курсы</a></li>
              <li class="nav__item"><a href="./#tech" class="nav__link">Технологии</a></li>
              <li class="nav__item"><a href="./#blog" class="nav__link">База знаний</a></li>
          </ul>
      </nav>

      <div class="header__actions">
          <a href="./#contact" class="btn btn--primary">Начать</a>
          <button class="burger" aria-label="Menu">
              <span></span>
          </button>
      </div>
  </div>
</header>
<div class="mobile-menu" id="mobileMenu">
  <div class="mobile-menu__container">
      <nav class="mobile-menu__nav">
          <a href="./#hero" class="mobile-menu__link">Главная</a>
          <a href="./#about" class="mobile-menu__link">О платформе</a>
          <a href="./#courses" class="mobile-menu__link">Курсы</a>
          <a href="./#tech" class="mobile-menu__link">Технологии</a>
          <a href="./#blog" class="mobile-menu__link">База знаний</a>
          <a href="./#contact" class="btn btn--primary mobile-menu__btn">Начать</a>
      </nav>
  </div>
</div>